---
import { Image } from "astro:assets";

import BaseLayout from "../layouts/BaseLayout.astro";
import Image1 from "../images/hero-wedd.jpeg";
import Image2 from "../images/ring.jpeg";
import Image3 from "../images/wedd-hero-img.jpg";
import Image4 from "../images/wedd-img-1.jpeg";
import Image5 from "../images/wedd-img-2.jpeg";
import Image6 from "../images/wedd-img-3.jpeg";
import Image7 from "../images/wedd-img-4.jpeg";
import Image8 from "../images/wedd-img-5.jpeg";
import Image9 from "../images/wedd-img-6.jpeg";
import Image10 from "../images/wedd-img-7.jpeg";
import Image11 from "../images/wedd-img-8.jpeg";
import Image12 from "../images/wedd-img-9.jpeg";
import Image13 from "../images/wedd-img-10.jpeg";
import Image14 from "../images/wedd-img-11.jpeg";
import Image15 from "../images/wedd-img-12.jpg";

import Image16 from "../images/wedd-img-13.jpeg";
import Image17 from "../images/wedd-img-14.jpeg";
import Image18 from "../images/wedd-img-15.jpeg";
import Image19 from "../images/wedd-img-16.jpeg";
import Image20 from "../images/wedd-img-17.jpeg";

const pageTitle = "Gallery";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="animated-section gallery">
    <div class="content-details">
      <h1>Gallery</h1>

      <!-- Photo Grid -->
      <div class="photo-grid">
        <figure class="photo-grid__item photo-grid__item--1">
          <!-- horizontal -->
          <Image src={Image1} alt="wedding image" class="photo-grid__img" />
        </figure>
        <figure class="photo-grid__item photo-grid__item--2">
          <!-- horizontal -->
          <Image src={Image3} alt="wedding image" class="photo-grid__img" />
        </figure>
        <figure class="photo-grid__item photo-grid__item--3">
          <!-- vertical -->
          <Image src={Image2} alt="wedding image" class="photo-grid__img" />
        </figure>
        <figure class="photo-grid__item photo-grid__item--4">
          <!-- horizontal -->
          <Image src={Image4} alt="wedding image" class="photo-grid__img" />
        </figure>
        <figure class="photo-grid__item photo-grid__item--5">
          <!-- horizontal -->
          <Image src={Image5} alt="wedding image" class="photo-grid__img" />
        </figure>

        <figure class="photo-grid__item photo-grid__item--6">
          <!-- horizontal -->
          <Image src={Image8} alt="wedding image" class="photo-grid__img" />
        </figure>

        <figure class="photo-grid__item photo-grid__item--7">
          <!-- vertical -->
          <Image src={Image6} alt="wedding image" class="photo-grid__img" />
        </figure>

        <figure class="photo-grid__item photo-grid__item--8">
          <!-- vertical -->
          <Image src={Image7} alt="wedding image" class="photo-grid__img" />
        </figure>

        <figure class="photo-grid__item photo-grid__item--9">
          <!-- horizontal -->
          <Image src={Image20} alt="wedding image" class="photo-grid__img" />
        </figure>

        <figure class="photo-grid__item photo-grid__item--10">
          <!-- horizontal -->
          <Image src={Image11} alt="wedding image" class="photo-grid__img" />
        </figure>

        <figure class="photo-grid__item photo-grid__item--11">
          <!-- vertical -->
          <Image src={Image17} alt="wedding image" class="photo-grid__img" />
        </figure>

        <figure class="photo-grid__item photo-grid__item--12">
          <!-- horizontal -->
          <Image src={Image12} alt="wedding image" class="photo-grid__img" />
        </figure>

        <figure class="photo-grid__item photo-grid__item--13">
          <!-- horizontal -->
          <Image src={Image14} alt="wedding image" class="photo-grid__img" />
        </figure>

        <figure class="photo-grid__item photo-grid__item--14">
          <!-- horizontal -->
          <Image src={Image18} alt="wedding image" class="photo-grid__img" />
        </figure>

        <figure class="photo-grid__item photo-grid__item--15">
          <!-- vertical -->
          <Image src={Image9} alt="wedding image" class="photo-grid__img" />
        </figure>

        <figure class="photo-grid__item photo-grid__item--16">
          <!-- vertical -->
          <Image src={Image13} alt="wedding image" class="photo-grid__img" />
        </figure>
      </div>
    </div>

    <style>
      .photo-grid {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(26, 5vw);
        grid-gap: 1.5rem;
      }

      .photo-grid__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition:
          box-shadow 0.3s ease-in-out,
          transform 0.3s ease-in-out;
        cursor: pointer;
        border-radius: 5px;
      }

      .photo-grid__img:hover {
        box-shadow: 0 4px 8px rgba(212, 185, 104, 0.7);
        transform: scale(1.02);
      }

      .photo-grid__item--1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
      }

      .photo-grid__item--2 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
      }

      .photo-grid__item--3 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 6;
      }

      .photo-grid__item--4 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 6;
      }

      .photo-grid__item--5 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 9;
      }

      .photo-grid__item--6 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 6;
        grid-row-end: 9;
      }

      .photo-grid__item--7 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 9;
        grid-row-end: 14;
      }

      .photo-grid__item--8 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 9;
        grid-row-end: 14;
      }

      .photo-grid__item--9 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 14;
        grid-row-end: 16;
      }

      .photo-grid__item--10 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 14;
        grid-row-end: 16;
      }

      .photo-grid__item--11 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 14;
        grid-row-end: 19;
      }

      .photo-grid__item--12 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 16;
        grid-row-end: 19;
      }

      .photo-grid__item--13 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 19;
        grid-row-end: 22;
      }

      .photo-grid__item--14 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 19;
        grid-row-end: 22;
      }

      .photo-grid__item--15 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 22;
        grid-row-end: 27;
      }

      .photo-grid__item--16 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 22;
        grid-row-end: 27;
      }

      @media (max-width: 1200px) {
        .photo-grid {
          width: 80%;
          margin: 0 auto;
        }
      }

      @media (max-width: 768px) {
        .photo-grid {
          width: 100%;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
        }

        .photo-grid__item--1,
        .photo-grid__item--2,
        .photo-grid__item--3,
        .photo-grid__item--4,
        .photo-grid__item--5,
        .photo-grid__item--6,
        .photo-grid__item--7,
        .photo-grid__item--8,
        .photo-grid__item--9,
        .photo-grid__item--10,
        .photo-grid__item--11,
        .photo-grid__item--12,
        .photo-grid__item--13,
        .photo-grid__item--14,
        .photo-grid__item--15,
        .photo-grid__item--16 {
          grid-column-start: auto;
          grid-column-end: auto;
          grid-row-start: auto;
          grid-row-end: auto;
        }

        .photo-grid__img {
          height: auto;
        }
      }
    </style>

    <script>
      import "../scripts/Modal";
    </script>
  </section>
</BaseLayout>
