---
import { Image } from "astro:assets";

import BaseLayout from "../layouts/BaseLayout.astro";
import Image1 from "../images/hero-wedd.jpeg";
import Image2 from "../images/ring.jpeg";
import Image3 from "../images/wedd-hero-img.jpg";
import Image4 from "../images/wedd-img-1.jpeg";
import Image5 from "../images/wedd-img-2.jpeg";
import Image6 from "../images/wedd-img-3.jpeg";
import Image7 from "../images/wedd-img-4.jpeg";
import Image8 from "../images/wedd-img-5.jpeg";
import Image9 from "../images/wedd-img-6.jpeg";
import Image10 from "../images/wedd-img-7.jpeg";
import Image11 from "../images/wedd-img-8.jpeg";
import Image12 from "../images/wedd-img-9.jpeg";
import Image13 from "../images/wedd-img-10.jpeg";
import Image14 from "../images/wedd-img-11.jpeg";
import Image15 from "../images/wedd-img-12.jpg";

import Image16 from "../images/wedd-img-13.jpeg";
import Image17 from "../images/wedd-img-14.jpeg";
import Image18 from "../images/wedd-img-15.jpeg";
import Image19 from "../images/wedd-img-16.jpeg";
import Image20 from "../images/wedd-img-17.jpeg";

const pageTitle = "Gallery";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="animated-section gallery">
    <div class="content-details">
      <h1>Gallery</h1>

      <!-- Photo Grid -->
      <div class="photo-grid">
        <Image src={Image1} alt="wedding image" />
        <Image src={Image3} alt="wedding image" />
        <Image src={Image2} alt="wedding image" />
        <Image src={Image4} alt="wedding image" />
        <Image src={Image5} alt="wedding image" />
        <Image src={Image6} alt="wedding image" />
        <Image src={Image8} alt="wedding image" />
        <Image src={Image7} alt="wedding image" />
        <Image src={Image10} alt="wedding image" />
        <Image src={Image9} alt="wedding image" />
        <Image src={Image11} alt="wedding image" />
        <Image src={Image12} alt="wedding image" />
        <Image src={Image13} alt="wedding image" />
        <Image src={Image14} alt="wedding image" />
        <Image src={Image15} alt="wedding image" />

        <Image src={Image16} alt="wedding image" />
        <Image src={Image17} alt="wedding image" />
        <Image src={Image18} alt="wedding image" />
        <Image src={Image19} alt="wedding image" />
        <Image src={Image20} alt="wedding image" />
      </div>
    </div>
  </section>

  <style>
    .photo-grid {
      display: grid;
      gap: 1rem;
      background: var(--primary-gradient);
      padding: 2rem;
      border-radius: 0.5rem;
    }

    .photo-grid img {
      width: 100%;
      height: auto;
      border-radius: 0.5rem;
      border: 1px solid var(--tertiary-bgcolor);
    }

    /* Responsive Grid */
    @media (min-width: 576px) {
      .photo-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media (min-width: 768px) {
      .photo-grid {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    @media (min-width: 992px) {
      .photo-grid {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    @media (min-width: 1200px) {
      .photo-grid {
        max-width: 90%;
        margin: 0 auto;
      }

      .photo-grid {
        grid-template-columns: repeat(5, 1fr);
      }
    }
  </style>
</BaseLayout>
