---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FloralImage from "../components/FloralImage.astro";
import Modal from "../components/Modal.astro";
import BibleVerse from "../components/BibleVerse.astro";
import Seo from "../components/Seo.astro";

import "../styles/global.css";
const {
  pageTitle = "Jay and Mikka Wedding",
  description = "We're so excited to celebrate our special day with you. Our wedding will take place on October 5, 2024 at Paco Park. This website will be your go-to resource for all the details you need as we count down to the big day. Here, you'll find information about the schedule, venue, travel accommodations, and more. Don't forget to RSVP and check out our photo gallery for a sneak peek into our journey together. Thank you for being a part of our love story. We can't wait to share this unforgettable day with all our family and friends!",
} = Astro.props;
---

<html lang="en">
  <head>
    <Seo title={pageTitle} description={description} url={Astro.url} />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/wedding-ring.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/wedding-ring.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/wedding-ring.png"
    />

    <!-- for mobile device configuration -->
    <link rel="manifest" href="/site.webmanifest" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- This tells search engines to index the page and follow the links on it. -->
    <meta name="robots" content="index, follow" />

    <meta name="description" content={description} />
    <title>{pageTitle}</title>
  </head>

  <body>
    <Header />
    <main>
      <FloralImage />
      <slot />
      <Modal />
      <BibleVerse />
    </main>
    <Footer />
    <script>
      import "../scripts/animationUponRender.js";
    </script>
  </body>
</html>
